/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font family */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #f8f8f8;
}

.container {
    padding: 0 10em;
}